.footer {
    padding: 24px 0;
    background-color: #2C3154;
}
.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 18px;
        font-weight: 400;
        font-family: Raleway;
        color: #808080;
        span {
            color: white;
        }
    }
}
