.footer {
    padding: 71px 0px 67px 0;;
    background-color: #353C65;
}
.footer_wrapper {
    display: flex;
    justify-content: space-between;
}
.footer_card {
    margin-right: 30px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_card:nth-child(2) {
    justify-content: space-between;
}
.footer_card:last-child {
    margin-right: 0;
}
.footer_title {
    font-family: Raleway;
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.footer_text {
    font-family: Raleway;
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-style: italic;
}
.footer_socials_item {
    margin-right: 27px;
}
.footer_socials_item:last-child {
    margin-right: 0;
}
.second_footer {
    padding: 24px 0;
    background-color: #2C3154;
}
.second_footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 18px;
        font-weight: 400;
        font-family: Raleway;
        color: #808080;
        span {
            color: white;
        }
    }
}
