@import '../scss/fonts';
@import '../scss/variables';
@import '../scss/mixins';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import '../scss/header.scss';
@import '../scss/features.scss';
@import '../scss/team.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
a,button {
    cursor: pointer;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}